{{>header}}
<main role="main" class="container">
    <form action="/course/create">
        {{> courseList }}
        <button type="submit" class="btn btn-success btn-lg btn-block">Regresar</button>
    </form>
</main>
{{>footer}}