{{>header}}
<main role="main" class="container">
    <form action="/enroll/suscribe">
        <div class="form-row">
            <div class="col">
                <div class="bd-callout bd-callout-warning">
                    <h5 id="conveying-meaning-to-assistive-technologies">Estado de la operación
                    </h5>
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
        {{#if status }}
            <button type="submit" class="btn btn-success btn-lg btn-block">Regresar</button>
        {{else}}
            <button type="submit" class="btn btn-danger btn-lg btn-block">Intentar nuevamente!</button>
        {{/if}}
    </form>
</main>
{{>footer}}