{{>header}}
 <main role="main" class="container">
    <h1 class="mt-5 text-center">Bienvenidos a la Academia NodeJS</h1>
    <p class="lead text-center" >En este sitio podrás gestionar la creación, inscripción y eliminación de los cursos cursos ofrecidos por la academia</p>
    <p class="text-center" >En el menú superior puedes encontrar cada una de la opciones disponibles como se puede ver a continuación:</p>
    <img src="img/example.png" class="d-block mx-auto" alt="Opciones disponibles">
    <p class="text-center"><br><br><strong>Acerca de NodeJs</strong></p>
    <div style="width:100%; text-align:center">
        <iframe width="800" height="400" src="https://www.youtube.com/embed/uVwtVBpw7RQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</main>
{{>footer}}