{{>header}}
<main role="main" class="container">
    <p class="lead text-center" >A continuación, podrás visualizar las personas inscritas en los cursos disponibles en la ácademia.</p>
    <p class="text-center" >Favor hacer click en cada nombre del curso para visualizar los inscritos</p>
    <form action="/">
        {{{viewEnroll}}}
        <button type="submit" class="btn btn-success btn-lg btn-block">Regresar</button>
    </form>
</main>
{{>footer}}