<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Desarrollado por <strong>Carlos Andrés Silva Agudelo</strong> - NodeJS TdeA</span>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>